<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SecretHikeSpots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83A08792288AC767003BCC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A087A8288AC769003BCC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83A087B2288AC769003BCC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
